In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import os
import re
import numpy as np
options = Options()
options.add_argument("--start-maximized")
options.add_argument("--disable-notifications")
import warnings
warnings.filterwarnings('ignore')

In [2]:
browser= webdriver.Chrome('C:\Selenium\chromedriver', chrome_options=options)
url=r'https://www.topuniversities.com/university-rankings/world-university-rankings/2019'
browser.get(url)

In [3]:
scroll = browser.find_element_by_xpath('//*[@id="qs-rankings_length"]/label/span[2]/span[2]')
element_to_hover_over = scroll
hover_scroll = ActionChains(browser).move_to_element(element_to_hover_over)
hover_scroll.perform()
#scroll.click()

In [4]:
browser.execute_script("window.scrollTo(0,2000)")

In [5]:
#get all the results in a page
scr_all_menu=browser.find_element_by_xpath('//*[@id="qs-rankings_length"]/label/span[2]/span[2]')
ActionChains(browser).move_to_element(browser.find_element_by_xpath('//*[@id="qs-rankings_length"]/label/span[2]/span[2]')).perform()
hover_scroll = ActionChains(browser).move_to_element(scr_all_menu)
hover_scroll.perform()
scr_all_menu.click()

In [6]:

scr_all=browser.find_element_by_xpath('//*[@id="qs-rankings_length"]/label/span[2]/div/div/span/span/ul/li[5]/span')
hover_scroll = ActionChains(browser).move_to_element(scr_all)
hover_scroll.perform()
scr_all.click()

In [7]:
browser.execute_script("window.scrollTo(0,500)")

In [8]:
drop=browser.find_element_by_xpath('//*[@id="qs-rankings"]/thead/tr[3]/td[3]/div/div/span[2]/span[2]')
hover = ActionChains(browser).move_to_element(drop)
hover.perform()
drop.click()

In [9]:
#list of items in the drop down menu
a=browser.find_elements_by_class_name('jcf-option')

In [10]:
def input_region(region):
    for i in range(len(a)):
        if i<7 and a[i].text==region:
            print(a[i].text)
            a[i].click()
            break

input_region('Oceania')

Oceania

In [11]:
#Standard Function for search

# def uni_search_by_name(uni_name):
#     uni_search=browser.find_element_by_xpath('//*[@id="qs-rankings"]/thead/tr[3]/td[2]/div/input')
#     uni_name=input('Enter_uni_name: ')
#     uni_search.send_keys(uni_name)
#     #Range of other functions doing their stuff here

In [12]:
#getting the list of universities
def get_uni():
    get_uni.list_uni=browser.find_elements_by_class_name('title')
    uni=[]
    for i in range(len(get_uni.list_uni)):
        uni.append(get_uni.list_uni[i].text)
    return uni
uni= get_uni()

In [13]:
#getting the ranks of universities
def get_rank():
    list_rank=browser.find_elements_by_class_name('rank')
    rank_list=[]
    for i in range(int(len(list_rank)/2)):
        if i>0:
            if list_rank[i*2+1].text!='':
                rank_list.append(list_rank[i*2+1].text)
#                 if bool(re.search('=',list_rank[i*2+1].text)):
#                     rank_list.append(re.findall('\d{1,5}',list_rank[i*2+1].text)
#                 else :       
            else:
                break
    return rank_list
rank = get_rank()

In [14]:
#finding the country 
# k=1
def get_country():
    list_cntry=browser.find_elements_by_class_name('td-wrap')
    ctry_list=[]
    for i in range(int((len(list_cntry)-15)/5)):
        j=i*5+15+2
        if list_cntry[j].text!='':
            ctry_list.append(list_cntry[j].text)
    return ctry_list
ctry = get_country()

In [15]:
def uni_data(ctry,rank,uni):
    df_ctry = pd.DataFrame(ctry,columns=['Country'])
    df_rank = pd.DataFrame(rank,columns=['Rank'])
    df_uni = pd.DataFrame(uni,columns=['University'])
    df=pd.concat([df_rank,df_ctry,df_uni],axis=1)
    return df

In [16]:
uni_data(ctry,rank,uni)

        Rank      Country                                         University
0         24    Australia                 The Australian National University
1         39    Australia                        The University of Melbourne
2         42    Australia                           The University of Sydney
3         45    Australia    The University of New South Wales (UNSW Sydney)
4         48    Australia                       The University of Queensland
5        =59    Australia                                  Monash University
6         85  New Zealand                         The University of Auckland
7         91    Australia                The University of Western Australia
8        114    Australia                         The University of Adelaide
9       =160    Australia                    University of Technology Sydney
10      =175  New Zealand                                University of Otago
11      =214    Australia       The University of Newcastle, Australia (UON)
12      =218    Australia                           University of Wollongong
13      =221  New Zealand                  Victoria University of Wellington
14      =231  New Zealand                           University of Canterbury
15      =244    Australia          Queensland University of Technology (QUT)
16      =250    Australia                                  Curtin University
17      =250    Australia                               Macquarie University
18      =250    Australia                                    RMIT University
19      =264    Australia                      University of South Australia
20       274  New Zealand                              University of Waikato
21       287    Australia                             University of Tasmania
22       309    Australia                                  Deakin University
23      =317  New Zealand                                 Lincoln University
24      =329    Australia                                Griffith University
25      =332  New Zealand                                  Massey University
26      =369    Australia                              James Cook University
27      =387    Australia                 Swinburne University of Technology
28      =397    Australia                                La Trobe University
29      =443    Australia                                    Bond University
30      =464  New Zealand            Auckland University of Technology (AUT)
31      =478    Australia                                Flinders University
32      =498    Australia                          Western Sydney University
33   591-600    Australia                                 Murdoch University
34   601-650    Australia  Central Queensland University (CQUniversity Au...
35   601-650    Australia                             University of Canberra
36   651-700    Australia                          Charles Darwin University
37   651-700    Australia                                Victoria University
38   751-800    Australia                             Edith Cowan University
39   751-800    Australia                  University of Southern Queensland
40  801-1000    Australia                     Australian Catholic University
41  801-1000    Australia                           Charles Sturt University
42  801-1000    Australia                          Southern Cross University
43  801-1000    Australia                University of New England Australia
44  801-1000    Australia                   University of the Sunshine Coast

In [17]:
def uni_info(index):
    uni_info.uni_name=(get_uni.list_uni[index].text)
    print(get_uni.list_uni[index].text)
    ActionChains(browser).move_to_element(get_uni.list_uni[index]).perform()
    get_uni.list_uni[index].click()
index=0
uni_info(index)

The Australian National University

In [18]:
#to fetch all para
def fetch_para():
    para_str=''
    more = browser.find_elements_by_class_name('more-link')
    if len(more)>0:
        more.click()
        para= browser.find_elements_by_class_name('field-profile-overview')
        list_paras = para[1].find_elements_by_tag_name('p')
        for i in range(len(list_paras)-1):
            para_str+=list_paras[i].text
    else :
        list_paras=browser.find_elements_by_class_name('field-profile-overview')[0].find_elements_by_tag_name('p')
        for i in range(len(list_paras)):
            para_str+=list_paras[i].text
    return para_str

In [19]:
def details():
    val = browser.find_elements_by_class_name('val')
    lab = browser.find_elements_by_class_name('lab')
    lab_list=[]
    val_list=[]
    for i in range(len(val)-1):
        val_list.append(val[i].text)
        lab_list.append(lab[i].text)
    return pd.DataFrame.from_dict(data=dict(zip(lab_list,val_list)),orient='index').T
details_df=details()

In [20]:
def location():
    locality = browser.find_element_by_class_name('locality').text
    state = browser.find_element_by_class_name('state').text
    pin = browser.find_element_by_class_name('postal-code').text
    country = browser.find_elements_by_class_name('country')[1].text
    return pd.DataFrame.from_dict({'locality':locality,'State':state,'PIN':pin,"Country":country},orient='index').T
loc_df =location()

In [21]:
def com_details():
    return pd.concat([details(),location()],axis=1)
df=com_details()
df

,QS Global World Ranking,Average Fees (USD),Status,Research Output,Total Students,,locality,State,PIN,Country
0,#24,14K-16K,Public,Very High,"16,677",,Canberra,ACT,2601,Australia

In [22]:
df['Overview']=fetch_para()

In [23]:
def google_the_link(uni_name):
    browser.execute_script('''window.open("http://google.com","_blank");''')
    #windows_before  = browser.current_window_handle
    #print("First Window Handle is : %s" %windows_before)
    browser.switch_to_window(browser.window_handles[-1])
    search_name=WebDriverWait(browser, 3).until(EC.presence_of_element_located((By.NAME, 'q')))
    search_name.send_keys(uni_name)
    browser.find_element_by_id('lga').click()
    browser.find_element_by_xpath('//*[@id="tsf"]/div[2]/div/div[3]/center/input[1]').click()
    WebDriverWait(browser, 5).until(EC.presence_of_element_located((By.CLASS_NAME, 'q')))
    sag=browser.find_elements_by_class_name('r')
    #link (First Search result)
    link = sag[0].find_element_by_tag_name('a').get_attribute('href')
    return link

In [24]:
df['Link']=google_the_link(uni_info.uni_name)

In [25]:
df['Name']=uni_info.uni_name
df

,QS Global World Ranking,Average Fees (USD),Status,Research Output,Total Students,,locality,State,PIN,Country,Overview,Link,Name
0,#24,14K-16K,Public,Very High,"16,677",,Canberra,ACT,2601,Australia,The Australian National University (ANU) is a ...,https://www.anu.edu.au/,The Australian National University

In [26]:
df.set_index('Name',inplace=True)
df

,QS Global World Ranking,Average Fees (USD),Status,Research Output,Total Students,,locality,State,PIN,Country,Overview,Link
Name,,,,,,,,,,,,
The Australian National University,#24,14K-16K,Public,Very High,"16,677",,Canberra,ACT,2601,Australia,The Australian National University (ANU) is a ...,https://www.anu.edu.au/

In [27]:
df.to_csv(uni_info.uni_name+str('.csv'))